<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.vanillasys.trep"
        version   = "1.0.0">

    <name>Conteo rápido</name>
    <icon src="icon.png" />

    <preference name="phonegap-version" value="3.1.0" />

    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.core.camera" />
</widget>