<h3>Flujo</h3>
<div id="return-message" class="alert alert-danger"></div>
<input type="text" id="flow" class="form-control input-lg">
<p>Flujo anterior: <%= table.flow %></p>
<br>
<div id="return-info" class="alert alert-info">El flujo debe ser mayor a "flujo anterior" y menor a "universo"</div>
<div class="action-buttons">
    <a class="cancel-btn btn btn-default" href="#mesa/<%= table.id %>/urnas"><i class="icon-arrow-left"></i> Cancelar</a>
    <button id="submit-button" class="btn btn-default" type="button"><i class="icon-ok"></i> Guardar</button>
</div>


