<table class="table table-bordered">
    <tbody>
    <tr>
        <td style="width:70px;">Incidencias</td>
        <td>
            <select id="incidence" class="form-control">
                <% _.each(incidences, function(incidence) { %>
                    <option value="<%= incidence.id %>"><%= incidence.name %></option>
                <% }); %>
                <option value="0">Otra incidencia</option>
            </select>
            <textarea id="custom_incidence" class="form-control hide" rows="4"></textarea>
        </td>
    </tr>
    </tbody>
</table>
<br />

<div class="action-buttons">
    <a id="cancel" class="cancel-btn btn btn-default" href="#mesa/<%= table.id %>/urnas"><i class="icon-arrow-left"></i> Cancelar</a>
    <button class="select-btn btn btn-default" type="button"><i class="icon-ok"></i> Guardar</button>
</div>