<p>Buenos días/tardes, mi nombre es (---) y trabajo para la empresa (X).
<br /><br />
Estamos haciendo una encuesta de boca de urna que será utilizada con fines estadísticos.
La información es anónima, de hecho no necesita decirme su nombre.
Solo interesa saber por quién acaba Usted de votar.
<br /><br />
¿Podría Usted mismo señalar en la pantalla cuál fue el candidato o candidata que Usted eligió?
<br /><br />

Muchas gracias.</p>

<a href="#mesas" class="btn btn-lg btn-default btn-block"><i class="icon-ok"></i> Aceptar</a>
