<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Partido</th>
            <th>Votos</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(parties, function(party) { %>
            <tr>
                <td width="70px">
                    <img style="width: 50px" class="img-thumbnail" src="<%= server %>/img/parties/<%= party.foto %>" alt="<%= party.name %>">
                </td>
                <td>
                    <%= party.name %>
                </td>
                <td style="width:70px;">
                    <% _.each(votes, function(vote) { %>
                        <% if (vote.partyId == party.id) { %><%= vote.count %><% } %>
                    <% }); %>
                </td>
            </tr>
        <% }); %>
        <tr>
            <td width="70px" rowspan="2">Papeletas sobrantes</td>
            <td>
                <% _.each(votes, function(vote) { %><%%><% }); %>
                <%= table.universe -  %>
            </td>
        </tr>
    </tbody>
</table>

<div class="action-buttons">
    <a class="cancel-btn btn btn-default" href="#mesa/<%= table.id %>/urnas"><i class="icon-arrow-left"></i> Regresar</a>
    <% if ('P' == table.phase) { %><button class="ok-btn btn btn-default" type="button" ><i class="icon-ok"></i> Guardar</button><% } %>
</div>