<div class="panel-group" id="urns">
    <% _.each(urns, function(urn) { %>
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#urns" href="#urn-<%= urn.id %>">
				<div class="panel-heading">
					<h4 class="panel-title">
						<%= urn.name %>
					</h4>
				</div>
			</a>
			<div id="urn-<%= urn.id %>" class="panel-collapse collapse">
				<div class="panel-body">
                    <a href="#mesa/<%= table.id %>/apertura" class="btn btn-success btn-lg btn-block <% if ('0000-00-00 00:00:00' != table.openDate) { %>disabled<% } %>"> Apertura</a>
                    <a href="#mesa/<%= table.id %>/flujo" class="btn btn-info btn-lg btn-block"> Flujo</a>
                    <a href="#mesa/<%= table.id %>/<% if ('V' != table.phase) { %>votos<% } else {%>ver<% } %>" class="btn btn-primary btn-lg btn-block"> Votos</a>
                    <a href="#mesa/<%= table.id %>/foto" class="btn btn-gray btn-lg btn-block"> Foto</a>
                    <a href="#mesa/<%= table.id %>/incidencias" class="btn btn-warning btn-lg btn-block"> Incidencias</a>
                    <a href="#mesa/<%= table.id %>/cierre" class="btn btn-danger btn-lg btn-block <% if ('0000-00-00 00:00:00' != table.closeDate) { %>disabled<% } %>"> Cierre</a>
				</div>
			</div>
		</div>
    <% }); %>
</div>

<div class="action-buttons">
    <a class="cancel-btn btn btn-default" href="#mesas"><i class="icon-arrow-left"></i> Regresar a las mesas</a>
</div>