<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Mesa:</th>
            <td><%= table.id %></td>
        </tr>
        <tr>
            <th>Departamento:</th>
            <td><%= table.department %></td>
        </tr>
        <tr>
            <th>Municipio:</th>
            <td><%= table.municipal %></td>
        </tr>
        <tr>
            <th>Fecha de apertura:</th>
            <td><%= table.openDate %></td>
        </tr>
        <tr>
            <th>Fecha de cierre:</th>
            <td><%= table.closeDate %></td>
        </tr>
        <tr>
            <th>Flujo:</th>
            <td><%= table.flow %></td>
        </tr>
    </tbody>
</table>

<!--
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Votos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total de boletas recibidas</td>
            <td style="width:70px;"><input type="number" class="form-control input-sm"></td>
        </tr>
        
        <tr>
            <td>Total de boletas sobrantes</td>
            <td style="width:70px;"><input type="number" class="form-control input-sm"></td>
        </tr>
        <tr>
            <td>Total de ciudadanos que votaron</td>
            <td style="width:70px;"><input type="number" class="form-control input-sm"></td>
        </tr>
        <tr>
            <td>Total de boletas depositadas</td>
            <td style="width:70px;"><input type="number" class="form-control input-sm"></td>
        </tr>
    </tbody>
</table>
-->

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Partido</th>
            <th>Votos</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(parties, function(party) { %>
            <tr>
                <td width="70px">
                    <img style="width: 50px" class="img-thumbnail" src="<%= server %>/img/parties/<%= party.foto %>" alt="<%= party.name %>">
                </td>
                <td>
                    <%= party.name %>
                </td>
                <td style="width:70px;">
                    <input type="number" party-id="<%= party.id %>" name="party[vote]" class="form-control input-sm"<% _.each(votes, function(vote) { %><% if (vote.partyId == party.id) { %>value="<%= vote.count %>"<% } %><% }); %>>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<!--
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Votos nulos</td>
            <td style="width:70px;"><input type="number" class="form-control input-sm"></td>
        </tr>
    </tbody>
</table>
-->

<!--
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Representantes de los partidos políticos</th>
        </tr>
        <tr>
            <th>Partido</th>
            <th>Nombres</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(parties, function(party) { %>
    <tr>
        <td><%= party.name %></td>
        <td><%= party.represent %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
-->

<div class="action-buttons">
    <a class="cancel-btn btn btn-default" href="#mesa/<%= table.id %>/urnas"><i class="icon-arrow-left"></i> Cancelar</a>
    <button class="select-btn btn btn-default" type="button" ><i class="icon-ok"></i> Ver</button>
</div>