<style>
    body, body.modal {
        margin-right: 0 !important;
    }

    body.modal {
        overflow-y: hidden;
    }
    .parties {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 9999;
        background-color: #FFF;
        margin-top: 0;
    }
    .parties .party {
        padding: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
        .parties .party img {
            border-radius: 3px;
            width: 80px;
        }
        .parties .party p {
            font-size: 7px;
            word-wrap: break-word;
            height: 20px;
            word-break: keep-all;
            white-space: normal;
        }

        @media (min-width: 768px) {
            .parties .party p {
                font-size: 12px;
            }
        }

        @media (min-width: 768px) {
            .parties .party p {
                font-size: 12px;
            }
        }
    .modal-body {
        text-align: center;
        margin: 0;
        padding: 5px
    }
    .modal-footer {
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    body.modal-open {
        margin-right: 0px;
    }
</style>
<div class="parties">
    <div class="row">
        <% _.each(parties, function(party) { %>
            <div class="col-xs-4 col-sm-3 col-md-3">
                <a href="" class="btn btn-default party" data-toggle="modal" data-target="#party-<%= party.id %>">
                    <img src="<%= server %>/img/politicians/<%= party.foto %>" class="img-responsive">
                </a>
                <div class="modal fade" id="party-<%= party.id %>" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p><%= party.representName %> <%= party.representSurname %></p>
                                <p><%= party.name %></p>
                                <img class="img-thumbnail" src="<%= server %>/img/politicians/<%= party.foto %>">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="select-btn btn btn-default" party-id="<%= party.id %>">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <div class="action-buttons">
        <a id="return-button" class="btn btn-default" href="#mesas"><i class="icon-arrow-left"></i> Regresar</a>
    </div>
</div>